.footer-container{
    background-color:#343434;
    color: white;
    width: 100%;
    padding: 1rem;
    @include flex (column,nowrap,space-evenly, center);

    .footer-container1{
        width: 100%;
        @include flex (row,wrap,space-around, center);
        text-align: right;
        margin: 2rem;

        h5{
            padding-bottom: 10px;
        }

        .footer-redes{
            text-align: center;
            margin-bottom: 2rem;
            
            

            ul{
                @include flex (row,nowrap,center, center);
                gap: map-get($gaps , xlarge );
                
                .img-redes{
                    width: 25px;
                    height: 25px;
                    
                }
            }
            li{
                gap: map-get($gaps , medium );
            }
        }

        .footer-suscripcion{
            @include flex (column,nowrap,center, center);
            text-align: center;
            margin-bottom: 2rem;

            .email{
                width: 30rem;   
                height:3rem;
                line-height: 3rem;
                margin-bottom: 1rem;       
            }
    
            .btn-suscripcion {
               @extend .email;
                background-color: silver;
                
    
            }
        }
        

        .btn-suscripcion:hover {
            background-color: white;
            color: #343434;
        }

        .footer-contacto{
            text-align: center;
            margin-bottom: 2rem;
            font-size: small;

            a {
                color: white;
            }
        }
        


    }
    .footer-container2{
        width: 100%;
        @include flex (row,wrap,center, center);
        gap: map-get($gaps , small );

    }
}
