/* ==========================GAFAS DE SOL================================== */

/* FORMATO GRID  BODY */

/* Clase .banner__container en HELPERS  */

.banner__sunglass img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/*  GAFAS DE SOL- FORM Y PRODUCTOS - FLEBOX */
/* FORM */

.mainFormProduct {
    @include flex(column, wrap,left,center,);
    margin-top: 10px;
   
}


/* este boton off canva modificando bootstrap */


.btn-primary:hover {
    color: #fff;
    background-color: #2d302e;
    border-color: white;
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
    color: black;
    background-color: transparent;
    border-color: #f4f4f4;
    // box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);

}
.btn-check:focus+.btn, .btn:focus {
    
    box-shadow: none;
}


/*-- este boton off canva  modificandobootstrap-- */
.offcanvas-end{
    width: 18.75rem;
}
.offcanvas-body{
    background-color: #f4f4f4;
    width: 100%;
    padding: 1rem;

    // ENVIOS FULL
    .body__text{
        padding: 1rem;

        h5{margin-bottom: 1rem;}

        table{
            width: 100%;
            border-collapse: collapse;
            border: 1px solid;
            border-color: #ececec;
            text-align: center;

            td{    
                padding: 15px;
                border: 1px solid #ececec;
                text-align: left;
            }
        }
        
        
    }

    // COMO COMPRAR?
.info-slide {
    background-color: white;
    @include flex(column, wrap,center,center,);
    width: 100%;

    .info__item {
        width: 30rem;
        height: 16rem;
        text-align: center;
        padding-top: 20px;

        img {
            width: 56px;
            height: 49px;
        }

        h3 {
            font-size: 15px;
            text-align: center;

        }

        p {
            font-size: 12px;
            text-align: center;

        }

    }

    .info__item2 {
        @extend .info__item;
    }



}


        

    form {
        @include flex(column, wrap,center,center,);
        .formContainer__box {
            padding: 1.5rem;
            
        
        }
        
    }
    .formContainer__box{
        width: 80%;

        input{
            margin-right: 0.625rem;
        }
        
    }    
    

}


    
    
    

    
    



/* cards product  Aplicando Map-get a Gap*/
.cardFlexProduct {
    width: 100%;
    margin: 0 auto;
    @include flex(row, wrap,center,center,);
    margin-bottom: 3.125em;
    margin-top: 3.125em;
    gap: map-get($gaps, large );

    .cardContainer {
        width: 25rem;
        /* box-shadow: 0 0 5px #343434; */
        .cardItem {
            background-color: white;
            width: inherit;
            height: 19.125rem;
            text-align: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        
        
        }
        
        .cardItem:hover {
            opacity: 0.7;
        
        }
        
        .cardImg {
            width: 14rem;
            height: 14rem;
            object-fit: contain;
        
        }
        
        .priceContainer {
            background-color: white;
            width: inherit;
            height: 8.5rem;
            border-top: rgba(51, 51, 51, .1) solid 1px;
            padding: 0.625rem;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        
        .priceContainer .priceNull {
            text-decoration: line-through;
            font-size: 12px;
        
        }
        
        
        .priceHot .price {
            font-size: 18px;
        
        }
        
        .priceHot .priceDesc {
            color: #39b54a;
            font-size: small;
            padding: 1rem;
        }
        
        .priceInteres {
            font-size: smaller;
        }


    
    }   

}

/* FIN CARDS */

/*=========================FIN GAFAS DE SOL========================= */
