/*----MAIN------*/

/* animacion en tittle main index */
.tittle-main h1{
    color: #222020;
    background-color: white;
    text-align: center;
    line-height: 50px;
    
    letter-spacing: 0.5em;

}

/* esto es de bootstrap */
.offcanvas__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    margin: 20px 0;
    padding: 5px;
    border-left: rgba(51, 51, 51, .1) solid 1px;
    border-right: rgba(51, 51, 51, .1) solid 1px;

}

/* esto es de bootstrap */

/* SECCION CONTENIDO */
.boxSlogan{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    & h4{
        font-size: map-get($fontsizes, large );
        letter-spacing: 0.3em
    }
    .boxLine{
        margin: inherit;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 50px;
        height: 1px;
        border-bottom: #343434;
        background-color: #343434;
        
    }

    & p{
        font-size: map-get($fontsizes, medium );
        letter-spacing: 0.3em } 
    
}   
/* cards Aca se aplicó Mixin y map-get */
.ofertas__container {
    @include flex(row, wrap, center, center, );
    gap: map-get($gaps, medium);
    margin:40px 0;
    

    .ofertas__btn {
        height: 57px;
        background-color: #343434;
        color: white;
        text-align: center;
        line-height: 57px;
        font-size: map-get($fontsizes, small );
        position: relative;
    }
    
    

}

// animacion
.ofertas__card:hover{
    animation-name: minizoom;
    animation-duration: 2s;
    opacity: 0.5;
}


@keyframes minizoom {
    0%{
        transform:scale(1);
    }
    80%{
        transform:scale(1.03);
    }
    
}



.card-flex {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3.125rem;
    margin-top: 10px;
    @include flex(row, wrap, center, center, );
    gap: map-get($gaps, xlarge);

    .card-producto {
        width: 25rem;

        .card-container {
            background-color: white;
            width: inherit;
            height: 19.125rem;
            text-align: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            :hover {
                opacity: 0.7;

            }

            .card-img {
                width: 14rem;
                height: 14rem;
                object-fit: contain;

            }
        }

        .container-price {
            background-color: white;
            width: inherit;
            height: 8.5rem;
            border-top: rgba(51, 51, 51, .1) solid 1px;
            padding: 0.625rem;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            .price-null {
                text-decoration: line-through;
                font-size: 12px;
            }

            .price-act .price {
                font-size: 18px;

            }

            .price-act .price-desc {
                color: #39b54a;
                font-size: small;
                padding: 1rem;
            }

            .price-interes {
                font-size: smaller;
            }

        }

    }


}

/* FIN CARDS */

/* INFO COMPRA */


.info-slide {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .info__item {
        width: 30rem;
        height: 16rem;
        text-align: center;
        padding-top: 20px;

        img {
            width: 56px;
            height: 49px;
        }

        h3 {
            font-size: 15px;
            text-align: center;

        }

        p {
            font-size: 12px;
            text-align: center;

        }

    }

    .info__item2 {
        @extend .info__item;
    }



}

@media screen and (max-width:760px) {
    .ofertas__container {
        @include flex(column, wrap, center, center, );}

    .boxSlogan{
        & h4{
            font-size: map-get($fontsizes, medium );
            letter-spacing: 0.3em;
        }
        
        & p{
            font-size: map-get($fontsizes, small );
            letter-spacing: 0.3em 
        } 
        
    }
    
    
}