/*NORMALIZE*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*GRID*/
body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color:$fondoPrincipal ;
    display: grid;
    grid-template-columns: 3 1fr;
    grid-template-rows: 3 1fr;

}

header {
    grid-template-columns: 1/4;
    grid-template-rows: 1;
    background-color: white;

}

main {
    grid-template-columns: 1/4;
    grid-template-rows: 2;

}

footer {
    grid-template-columns: 1/4;
    grid-template-rows: 3;

}