/*variables*/
$fondoPrincipal: #f2f2f2;
$fondoSecundario: grey;

// colores
$colorPrincipal: #343434;
$colorSecundario: #222020;

// maps
$gaps:(
    xlarge:5rem,
    large:3rem,
    medium:2rem,
    small:1.5rem,
    xsmall:1rem,
);

$fontsizes:(
    large:3rem,
    medium:2rem,
    small:1.5rem,
    xsmall:1rem,
)